html, body {
    font-family: 'Quicksand', sans-serif;
	background: linear-gradient(#facade, pink);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	margin: 0;
	height: 100%;
}

hr {
	position: relative;
	height: 2.5px;
	background: white;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content {
    animation: float 3s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-title {
	justify-self: flex-start;
}

.flex-elem {
	justify-self: center;
	display: flex;
	flex-direction: row;
}

h4 {
	padding-right: 10px;
}

#aleBot {
	background-color: #fff;
	border-radius: 4px;  
	color: #000;
	cursor: default;
	padding: 8px 16px;
	transition: all 1s;
}

#aleBot:hover {
	background-image: linear-gradient(
	   to right, 
	   #E7484F,
	   #E7484F 16.65%,
	   #F68B1D 16.65%,
	   #F68B1D 33.3%,
	   #FCED00 33.3%,
	   #FCED00 49.95%,
	   #009E4F 49.95%,
	   #009E4F 66.6%,
	   #00AAC3 66.6%,
	   #00AAC3 83.25%,
	   #732982 83.25%,
	   #732982 100%,
	   #E7484F 100%
	);
	transition: all 1s;
	animation: slidebg 2s linear infinite;
}
 
 
@keyframes slidebg {
   	to {
		background-position:20vw;
   	}
}

@keyframes float {
	0% {
		text-shadow: 0px 5px 5px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		text-shadow: 5px 15px 15px rgba(0,0,0,0.2);
		transform: translatey(-5px);
	}
	100% {
		text-shadow: 0px 5px 5px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}